In [ ]:
- we created a data frame using list
-provided data
- columns
- index added
- modified the column
- drop the column
- shape of the data frame
- how to save the data frame

** how to read a data frame**

In [ ]:
. location
. file name
. extention 
. I want to read data 1
. location is not required because python file and data file both are at same location
. file name : data1
. extention :csv

In [2]:
import pandas as pd

In [3]:
pd.read_csv('data1.csv')

     Names  Age     City
0  Avinash   30      blr
1    Akash   35  chennai
2     Anvi   40   mumbai

In [12]:
pd.read_excel('data2.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'data2.xlsx'

In [13]:
visa_df=pd.read_csv(r"C:\Users\SIRI\OneDrive\nareshit\EDA\Visadataset - Visadataset.csv")
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [15]:
bank_df=pd.read_csv(r"C:\Users\SIRI\Downloads\bank-csv.pdf")
bank_df

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x9c in position 258: invalid start byte